#***********************************************************************************************************************
# cargo make tasks to build the example for the Raspberry Pi
#***********************************************************************************************************************
[env.development]
CC = "aarch64-none-elf-gcc"
AR = "aarch64-none-elf-ar"
CFLAGS = "-march=armv8-a -Wall -O3 -nostdlib -nostartfiles -ffreestanding -mtune=cortex-a53"
RUSTFLAGS = "-C linker=${CC} -C target-cpu=cortex-a53 -C link-arg=-nostartfiles -C link-arg=-T./link64.ld"
BUILD_TARGET = "aarch64-unknown-linux-gnu"

# CI Pipeline build settings
[env.pipeline]
CC = "aarch64-linux-gnu-gcc"
AR = "aarch64-linux-gnu-ar"
CFLAGS = "-march=armv8-a -Wall -O3 -nostdlib -nostartfiles -ffreestanding -mtune=cortex-a53"
RUSTFLAGS = "-C target-cpu=cortex-a53 -C target-feature=+strict-align,+a53,+fp-armv8,+neon -C link-arg=-T./link64.ld"
BUILD_TARGET = "aarch64-unknown-linux-gnu"

[tasks.xbuild]
command = "cargo"
args = ["xbuild", "--target", "${BUILD_TARGET}", "--release", "--features", "${FEATURES}"]

[tasks.pi3]
env = { FEATURES = "ruspiro_pi3" }
run_task = [
    { name = "xbuild" }
]

[tasks.publish_dry]
env = { FEATURES = "" }
command = "cargo"
args = ["publish", "--target", "${BUILD_TARGET}", "--dry-run", "--features", "${FEATURES}"]

[tasks.publish]
env = { FEATURES = "" }
command = "cargo"
args = ["publish", "--target", "${BUILD_TARGET}", "--token", "${CRATES_TOKEN}", "--allow-dirty", "--features", "${FEATURES}"]

[tasks.clean]
command = "cargo"
args = ["clean"]